.my-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    height: 24%;
    display: flex;
    flex-direction: column;
    .top-show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30%;
      background-color: skyblue;
      text-align: center;
      .course-info {
        .second {
          margin-left: 16rpx;
        }
        .code {
          color: slateblue;
          font-weight: bold;
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      padding: 16rpx;
      .bottom-search {
        margin-top: 16rpx;
        display: flex;
        align-items: center;
        .my-input {
          padding: 10rpx;
          background-color: #ffffff;
        }
      }
    }
  }
  .stu-list-show {
    flex: 1;
    .cellList {
      .cell {
        padding: 14rpx 36rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #000000bb;
        .left {
          font-size: 48rpx;
          font-weight: bold;
        }
        .right {
          text-align: center;
          color: #000000;
          font-size: 24rpx;
          .date-stu {
            color: #14934F;
          }
          .time-stu {
            color: #14934F;
          }
          .info-stu {
            font-size: 48rpx;
            color: #14934F;
          }
          .info1-tea {
            color: #14934F;
          }
          .info2-tea {
            color: #A5072E;
          }
          .active {
            color: #A5072E;
          }
        }
      }
    }
  }
}