.userinfo {
  display: flex;
  align-items: center;
  margin-top: 116rpx;
  .avatar-btn {
    margin-right: 0;
    padding: 0;
    margin-left: 46rpx;
    width: 240rpx;
  }
  .right {
    display: flex;
    line-height: 38rpx;
    // align-items: center;
    .username {
      // margin-right: 62rpx;
      margin-left: 62rpx;
      font-size: 48rpx;
      font-weight: bold;
    }
  }
}

.btns {
  margin-top: 86rpx;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cellList {
  margin-top: 54rpx;
  .semesterItem {
    .semesterName {
      padding: 14rpx;
      font-weight: bold;
    }
    .cell {
      padding: 14rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      border: 1px solid #000000bb;
      .left {
        .title {
          margin-bottom: 10rpx;
          font-size: 32rpx;
          font-weight: bold;
        }
        .info {
          font-size: 28rpx;
        }
      }
      .right {
        text-align: center;
        color: #000000;
        font-size: 24rpx;
        .date-stu {
          color: #14934F;
        }
        .time-stu {
          color: #14934F;
        }
        .info-stu {
          font-size: 48rpx;
          color: #14934F;
        }
        .info1-tea {
          color: #14934F;
        }
        .info2-tea {
          color: #A5072E;
        }
        .active {
          color: #A5072E;
        }
      }
    }
  }
}