function getDateFromCreateTime(createtime) {
  var temp = createtime.split(' ')
  return temp[0]
}

function getTimeFromCreateTime(createtime) {
  var temp = createtime.split(' ')
  return temp[1]
}

function getArrLength(arr) {
  return arr.length
}

module.exports = {
  getDateFromCreateTime:getDateFromCreateTime,
  getTimeFromCreateTime:getTimeFromCreateTime,
  getArrLength:getArrLength
}