/* pages/features/features.wxss */
.active {
  border: 1px solid #000;
}
.cellValueStyle {
  color: skyblue;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .btn {
    padding: 16rpx;
  }
}